*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: fredoka;
  src: local('fredoka'), url('../../../assets/fonts/FredokaOne-Regular.ttf');
}
@font-face {
  font-family: couget;
  src: local('couget'), url('../../../assets/fonts/Courgette-Regular.ttf');
}
@font-face {
  font-family: kalam;
  src: local('kalam'), url('../../../assets/fonts/Kalam-Regular.ttf');
}

/* .group .groups,.group-chat{
    border: 2px solid rebeccapurple;
} */
/* Group chats css */
.group .groups{
    width: 40%;
}
.group .group-chat{
    width: 60%;
}

.group .groups .agroup{
    /* border: 1px solid red; */
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    margin: 0px auto;
     background-color: #ddd;
     cursor: pointer;
}
.group .groups .agroup .agroup-name{
    margin-top: 3px;
    font-family: kalam;
    font-size: 25px;
}
.group .groups .agroup .agroup-sub{
    cursor: pointer;
    display: block;
}
.group .groups .agroup .agroup-sub:hover{
    animation: shake 0.5s;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.group .groups .agroup .agroup-icon,.agroup-sub{
    font-size: 25px;
}
.group .group-chat .receiver-msg,.sender-msg{
  position: relative;
  background-color: #f5f5f5;
  max-width: 30%;
  max-width: 50%;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
  clear: both;
}
.group .group-chat .sender-msg::after{
  content: " ";
  position: absolute;
  background-image: url("../images/box_tail.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 40px;
  right: -20px;
  bottom: -5px;
  z-index: -1;
}
.group .group-chat .receiver-msg::after{
  content: " ";
  position: absolute;
  background-image: url("../images/box_tail_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 40px;
  left: -20px;
  bottom: -5px;
  z-index: -1;
}

.group .group-chat .input-group>textarea{
resize: none;
}
.group .group-chat .input-group>button{
  width: 2.5rem;
  }
/* .group .groups .groups-container{
    overflow-y: scroll;
    border: 2px solid red;
    height:12rem;
  } */
/* End of group chats css */

.user-chat .groups-container .agroup{
padding: 0px 2rem 0px 3rem;
}
.user-chat .groups-container .agroup .agroup-icon{
  width: 3rem;
  height: 3rem;
  text-align: center;
border: 2px solid black;
border-radius: 50%;
}