*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: fredoka;
  src: local('fredoka'), url('../fonts/FredokaOne-Regular.ttf');
}
@font-face {
  font-family: couget;
  src: local('couget'), url('../fonts/Courgette-Regular.ttf');
}
@font-face {
  font-family: kalam;
  src: local('kalam'), url('../fonts/Kalam-Regular.ttf');
}
body{
position: relative;
    background-color: #f1f1f1;
}

.showCase{
    /* border: 2px solid red; */
    height: 100vh;
}
.showCase .h{
    text-transform: uppercase;
    font-family: fredoka;
    font-size: 90px;
}
.showCase img{
    width: 240px;
    height: 240px;
}
.showCase span{
    display: flex;
}
.showCase span a{
    text-decoration: none;
    margin: 0px 10px;
    font-size: 25px;
    color: black;
    transition: color .3s ease;
    transition: transform .3s ease;
}
.showCase span a:hover{
    /* color: #747474; */
    transform: scale(1.5);
}
.showCase .btn a{
    text-decoration: none;
    color: black;
}
.showCase .btn:hover a{
    color: white;
}
.showCase button{
    font-family: kalam;
    font-weight: bold;
}

/* Floating Menue */
.float-menu{
    position: absolute;
    right: 5rem;
    top: 2%;
}
.float-menu >span{
    /* border: 1px solid red; */
    width: 25px;
    height: 35px;
    /* display: block; */
    display: none;
    font-size: 25px;
    cursor: pointer;
    animation: menubar 5s ease-in-out infinite none running;
}

@keyframes menubar {
    0%{transform: scale(1);}
    25%{transform: scale(1.1);}
    45%{transform: scale(1.3);}
    /* 100%{transform: scale(1.4);} */
}
.float-menu ul{
    position: relative;
    right: 2.5rem;
    /* top: -20px; */
    top: 5px;
    /* z-index: -1; */
    list-style: none;
    /* border: 2px solid green; */
    padding: 0px;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    /* transform: scale(0); */
}
.float-menu ul li{
    /* margin: 5px 5px; */
    margin: 5px 10px;
    display: inline-block;
}
.float-menu ul li a{
    text-decoration: none;
    color: black;
}
.float-menu ul a:hover{
    color: #747474;
}
/* .float-menu >span:hover + ul,.float-menu> ul:hover{
    transform: scale(1);
} */