/* LOGIN PAGE */
.login-form .d-flex{
    /* border: 2px solid brown; */
    height: 70vh;
}
.login-form .h{
    font-family: couget;
    font-size: 90px;
}

.login-form .input-container{
    position: relative;
    border-bottom: 2px solid #000000;
    height: 3rem;
    transition: border .3s ease;
}
.login-form .input-container label,input{
    display: block;
}
.login-form .input-container input{
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    background-color: transparent;
}
.login-form .input-container label{
    position: absolute;
    pointer-events: none;
    top: 8px;
    left: 7px;
    color: #969696;
    transition: transform 0.2s ease;
}
.login-form .input-container input:focus + label,.login-form .input-container input:valid + label{
    transform: translateY(-100%);
    background-color: #f1f1f1;
    color: #0a0a0a;
}
.login-form .focus{
    border: 2px solid #000000;
    border-radius: 10px;
}
section button, section>a{
    font-family: kalam;
    font-weight: bold;
}

.login-form header{
    align-items: center;
    /* border: 1px solid coral; */
    max-height: 7rem;
    justify-content: space-between;
}
.login-form header >div{
    visibility: hidden;
}
.login-form header .btn{
    font-size: 30px;
    border: none;
    background-color: transparent;
    outline: none;
}
.login-form header .btn:hover{
    color: #747474;
}